name: studyshare
description: "A new Flutter project."


version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"


dependencies:
  flutter:
    sdk: flutter
  kakao_flutter_sdk: ^1.9.7+3
  flutter_dotenv: ^5.1.0
  shared_preferences: ^2.2.2 # 웹 환경에서 로그인 상태 유지를 위한 로컬 저장소
  kakao_flutter_sdk_user: ^1.9.6
  cupertino_icons: ^1.0.8
  google_fonts: ^6.2.1
  # zefyr: ^0.13.0
  # notus: ^0.13.0
  #flutter_quill: ^7.4.6
  html_editor_enhanced: ^2.5.12
  http: ^1.1.0
  provider: ^6.1.5+1


dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^4.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  uses-material-design: true
  assets:
    # - .env
    - assets/images/

fonts:
  - family: Inter # TextStyle에서 사용하는 이름
    fonts:
      - asset: assets/fonts/Inter_18pt-Regular.ttf
        weight: 400
      - asset: assets/fonts/Inter_18pt-Bold.ttf
        weight: 700 # 이 파일을 FontWeight.w700에 연결

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
